@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');

body {
  background-color: #F0F0F0;
  color: #3C3B58;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.item {
  background-color: #FFC466;
  border-radius: 8px;
  padding: 4px;
  margin: 16px;
  box-shadow: 0 2px 0 #EEB355;
}

.item.sticky, .item.primary.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 16px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.item .inner {
  background-color: #FFE8B2;
  border-radius: 8px;
  padding: 16px;
}

.item .inner b {
  color: #1D1716;
  text-shadow: 0 1px 0 #FFFFFF;
}

.item.primary {
  background-color: #1D1716;
  box-shadow: none;
}

.item.primary .inner {
  background-color: #3C3B58;
  color: #FEECCC;
}

.item.primary .inner b {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #1D1716;
}

button {
  font-size: 16px;
  font-weight: bold;
  background-color: #FFC466;
  color: #3C3B58;
  text-shadow: 0 1px 0 #FFE8B2;
  width: 100%;
  padding: 4px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
}

button:hover {
  color: #000000;
}

button:active {
  background-color: #F79060;
}

button:disabled {
  background-color: #FFC466;
  color: #3C3B58;
  opacity: 0.25;
  cursor: default;
}

.item.primary button {
  background-color: #1D1716;
  color: #FFC466;
  text-shadow: 0 1px 0 #3C3B58;
}

.item.primary button:active {
  background-color: #000000;
}

.item.primary button:disabled {
  background-color: #1D1716;
  color: #FFC466;
}

.inner .description {
  font-size: 18px;
  font-style: italic;
  border-top: 1px dashed #FFC466;
  padding-top: 8px;
  margin-top: 8px;
}
